nvim/autoload/plugged/*
BraveSoftware/*
manjaro/*
Code/*
Kvantum/*
dconf/*
dmenu-recent/*
edpfview/*
gconf/*
gedit/*
gtk-2.0/*
gtk-3.0/*
libfm/*
manjaro-hello.json
mimeapps.list
morc_menu/*
nitrogen/*
pcmanfm/*
picom.conf
procps/*
pulse/*
qt5ct/*
ranger/*
sway/*
user-dirs.dirs
user-dirs.locale
volumeicon/*
xfce4/*
yay/*
htop/*
dunst/*
epdfview/*
clipit/*
